@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#F6F8FC;
color:#1f2937;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

button{
font-family:'Poppins',sans-serif;
cursor:pointer;
transition:.3s ease;
}

button:hover{
transform:translateY(-2px);
}

input{
font-family:'Poppins',sans-serif;
outline:none;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#6366f1;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#eef2ff;
}